.button__taskDone {
    background-color: hsl(120, 80%, 43%);
    width: 30px;
    height: 30px;
    border: none;
    outline: 0;
    order: -1;
    transition: 1s;
}

.button__taskDone:hover {
    background-color: hsl(120, 80%, 48%);
}

.button__taskDone:active {
    background-color: hsl(120, 80%, 55%);
}

.button__removeTask {
    background-color: hsl(0, 95%, 43%);
    min-width: 30px;
    min-height: 30px;
    border: none;
    outline: 0;
    order: 1;
    transition: 1s;
}

.button__removeTask:hover {
    background-color: hsl(0, 86%, 55%);
}

.button__removeTask:active {
    background-color: hsl(0, 86%, 65%);
}