.section__header {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin-left: 20px;
}

.section__buttons {
    flex-basis: 100%;
    margin-right: 20px;
}

.section__body {
    background-color: white;
    padding: 15px;
}